<form action="/recipes/<%=@recipe.id" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name <input type="text" name="name" value="<%=@recipe.name%>">
  Ingredient <input type="text" name="ingredients" value="<%=@recipe.ingredients%>">

</form>
